footer {
    display: flex;
    justify-content: center;
    gap: 0;
    box-sizing: border-box;
    width: 100%;
    height: 140px;
}

footer > .middle {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 0px;
}

footer > .middle > .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: var(--off-white);

    h3 {
        font-size: 18px;
        color: var(--off-black-06);
        font-weight: 400;
        text-wrap: wrap;
        margin: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: max-content;
        align-items: end;
        h3 {
            font-size: 15px;
            line-height: 160%;
            font-weight: 600;
            color: var(--off-black);
        }
        span {
            font-weight: 400;
            color: var(--off-black-06);
        }
    }
    .right-links {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 6px;
    }
    .work {
        color: var(--dark-green);
        border-radius: 9px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 15px;
        transition: all 0.15s ease-in-out;
        margin: 0;
        svg {
            color: var(--dark-green);
            width: 18px;
            rotate: 180deg;
        }
        cursor: pointer;
    }
    .work:hover {
        color: var(--off-black-06);

        svg {
            color: var(--off-black-06);
        }
    }
    a {
        text-decoration: none;
        color: var(--dark-green);
        font-size: 15px;
        font-weight: 400;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
    }
    a:hover {
        color: var(--off-black-06);
    }
}

footer > .middle > .left {
    min-width: 636px;
    max-width: 636px;
    height: 100%;
    position: relative;
    border-radius: 0px 9px 9px 0px;
    overflow: hidden;
    img {
        position: absolute;
        height: 140px;
        width: 636px;
    }
}
