header {
    display: flex;
    justify-content: center;
    gap: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

header > .middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
    width: 100%;
}

header > .middle > .left {
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: 636px;
    max-width: 636px;

    .cell-wrapper {
        display: flex;
        justify-content: center;
        padding: 0 0 1px 0;
        min-width: 30px;
        max-width: 30px;
        height: 100%;
        box-sizing: border-box;
        .cell {
            background-color: var(--off-white);
            width: 100%;
            height: 100%;
            border-radius: 9px;
        }
    }
    .green-rectangle {
        background-color: #006352;
        width: 100%;
        height: 100%;
    }
    .links {
        display: flex;
        justify-content: center;
        gap: 1px;
        background-color: var(--off-teal);
        width: 231px;
        box-sizing: border-box;
        padding: 0 0 1px 0;
        a {
            text-decoration: none;
            background-color: var(--light-off-teal);
            color: var(--dark-green);
            border-radius: 9px;
            width: 150px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            font-size: 13px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
        a.active {
            background-color: var(--off-white);
            color: var(--off-black);
        }
        a:hover {
            background-color: var(--off-white);
            color: var(--off-black);
        }
    }
}

header > .middle > .right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1px;
    padding: 0 0 1px 0;
    box-sizing: border-box;
    .nav-link {
        background-color: var(--light-off-teal);
        color: var(--dark-green);
        border-radius: 9px;
        min-width: 120px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .nav-link.active {
        background-color: var(--off-white);
        color: var(--off-black);
        font-weight: 600;
    }
    .nav-link:hover {
        background-color: var(--off-white);
        color: var(--off-black-06);

        font-weight: 600;
    }
    .cell {
        background-color: var(--off-white);
        width: 100%;
        height: 100%;
        border-radius: 9px;
        min-width: none;
    }
}
