.home {
  width: 100%;
      align-self: stretch;
  /* min-height: calc(100dvh - 60px); */
  max-height: 900px;
      display: flex;
    justify-content: center;
    gap: 0;
    padding: 0 0 1px 0;
    box-sizing: border-box;
}

.extremesWrapperLeft {
    display: block;
    min-width: 18px;
    padding: 0 1px 1px 0;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

.extremesWrapperRight {
    display: block;
    min-width: 18px;
    padding: 0 0 1px 1px;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

.extremes {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: var(--light-off-teal);
}

.home > .middle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
}

.left {
  min-width: 636px;
  max-width: 636px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-self: stretch;
  transition: all 1s ease-in-out;
}

.left .first {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 541px;
}

.left .first .hero {
    position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--off-white);
  border-radius: 9px 0 0 9px;
}

.left .first .hero .herorounder {
  position: absolute;
  top: 0px;
  left: 222px;
  z-index: 3;
}

.left .first .cell {
  background-color: var(--off-white);
  min-width: 30px;
  max-width: 30px;
  height: 100%;
  border-radius: 9px 9px 9px 0px;
}

.left .second {
  display: flex;
  justify-content: center;
  gap: 1px;
  box-sizing: border-box;
  height: 150px;
  width: 100%;
}

.left .second .s1 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 9px;
  padding: 30px;
  box-sizing: border-box;
}

.left .second .s1 .chestWindow {
  position: relative;
  overflow: hidden;
  background-color: var(--off-black);
  border-radius: 9px;
  width: 375px;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid var(--off-teal);
}

.left .second .s1 .chestWindow svg {
  position: absolute;
  bottom: 0;
  left: 154px;
}

.left .second .s2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  background-color: var(--light-off-teal);
  border-radius: 9px;
}

.left .third {
  width: 100%;
    height: 100%;
  background-color: var(--off-white);
  padding: 30px;
  border-radius: 9px;
  gap: 9px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  align-self: stretch;
}

.left .third div {
    display: flex;
    width: 100%;
    gap: 0px;
    align-items: center;
    justify-content: start;
}

.left .third div .iconWrapper {
    width: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
        h4 {
        font-weight: 800;
        color: var(--off-black);
    }
}

.left .third:hover > div .iconWrapper{
    width: 18px;
}

.left .third h4 {
  font-size: 13px;
  width: 100%;
  text-wrap: wrap;
  font-weight: 400;
  color: var(--off-black-06);
  margin: 0;
}

.left .third h3 {
  font-size: 15px;
  width: 100%;
  text-wrap: wrap;
  font-weight: 400;
  color: var(--off-black-06);
  margin: 0;
}

.right {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: relative;
}

.right .first {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 9px;
  gap: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right .first .manWrapper {
    position: absolute;
    width: 36px;
    height: 48px;
    left: 392px;
    bottom: -12px;
    z-index: 5;
}

.right .first h1 {
  margin: 0;
  padding: 0;
  color: var(--off-black);
  font-family: "Stara";
  font-weight: 600;
  width: 100%;
  text-wrap: wrap;
  font-size: 42px;
  line-height: 100%;
}

.right .first h1 span:nth-child(1),
.right .first h1 span:nth-child(3) {
  font-family: "Lora", serif;
  font-weight: 600;
}

.right .first h1 span:nth-child(2),
.right .first h1 span:nth-child(4) {
  font-family: "Stara";
  font-weight: 600;
  color: var(--dark-green);
}

.right .first h2 {
  color: var(--off-black-06);
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
  height: 100%;
  width: 100%;
  text-wrap: wrap;
  margin: 0;
  padding: 0;
}

.right .first h2 span {
  color: var(--off-black);
}

.right .first .time {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.right .first .time svg {
  width: 15px;
  height: 15px;
  color: var(--dark-green);
}

.right .first .time h3 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 13px;
  color: var(--off-black-06);
  translate: 0 1px;
}

.right .first .time h3 span {
  color: var(--off-black-09);
  padding-left: 9px;
}

.right .first .time h3:nth-child(3) {
  color: var(--dark-green);
}

.right .second {
  position: relative;
  width: 100%;
  flex: 0 0 408px;
  overflow: hidden;
}

.secondInnerwrapper {
  position: relative;
  width: 100%;
  min-height: 408px;
  max-height: 408px;
  background-color: var(--light-off-teal);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 9px;
  gap: 18px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.secondInnerwrapper:hover,
.secondInnerwrapperSelected {
  background-color: var(--off-white) !important;
}

.secondInnerwrapper:hover .img,
.secondInnerwrapperSelected .img {
  opacity: 1;
}

.secondInnerwrapper h4 {
  font-size: 13px;
  width: 100%;
  text-wrap: wrap;
  font-weight: 400;
  color: var(--off-black-06);
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.homeRounder1 {
  position: absolute;
  top: 0px;
  left: calc(361px - 9px);
  z-index: 3;
}

.homeRounder2 {
  position: absolute;
  top: 302px;
  right: 0;
  z-index: 3;
}

.metricSuperwrapper {
  top: 0;
  left: 0;
  width: calc(100% - 361px);
  box-sizing: border-box;
  position: absolute;
  margin-left: 361px;
  z-index: 2;
}

.metricWrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0px 0px 1px 1px;
  box-sizing: border-box;
  background-color: var(--off-teal);
  width: 100%;
  height: 302px;
  border-radius: 0px 0px 0px 9px;
}

.recentImgWrapper {
  width: 300px;
  padding-top: 11px;
  pointer-events: none;
}

.recentImg {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--off-teal);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    border: 0px solid var(--off-teal);
    box-sizing: border-box;
}

.img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
  image-rendering: pixelated;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.secondInnerwrapper:hover .img,
.secondInnerwrapperSelected .img {
  transform: scale(1.02);
}

.td {
  display: flex;
  width: 100%;
  gap: 3px;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  gap: 0px;
  transition: all 0.3s ease-in-out;
}

.title h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  padding: 0 14px 0 0;
  color: var(--off-black);
}

.description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  color: var(--off-black-06);
}

.right .third {
  display: flex;
  gap: 1px;
  box-sizing: border-box;
  height: 180px;
  width: 100%;
}

.right .third .s1 {
  min-width: 90px;
  max-width: 90px;
  height: 100%;
  background-color: var(--light-off-teal);
  border-radius: 9px;
}

.right .third .s2 {
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  background-color: var(--off-white);
  border-radius: 9px;
}

.right .third .s3 {
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  background-color: var(--off-teal);
  border-radius: 9px;
}

.right .third .s4 {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 9px;
}

.left .fourth {
  display: flex;
  gap: 1px;
  box-sizing: border-box;
  height: 180px;
  width: 100%;
}

.left .fourth .s1 {
  min-width: 90px;
  max-width: 90px;
  height: 100%;
  background-color: var(--light-off-teal);
  border-radius: 9px;
}

.left .fourth .s2 {
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  background-color: var(--off-white);
  border-radius: 9px;
}

.left .fourth .s3 {
  min-width: 180px;
  max-width: 180px;
  height: 180px;
  background-color: var(--off-teal);
  border-radius: 9px;
}

.left .fourth .s4 {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 9px;
}

@media screen and (min-width: 1700px) {
    .middle {
        max-width: 1600px;
    }
}
