#WORK > .middle > .left {
    position: relative;
    box-sizing: border-box;
    min-width: 636px;
    max-width: 636px;
    flex: 0 0 636px;
    align-self: stretch;
    background-color: var(--light-off-teal);
    border-radius: 0px 0px 9px 9px;


    .img-superwrapper {
        position: sticky;
        top: 0px;
        width: 100%;
        height: 492px;
        background-color: var(--off-teal);
        box-sizing: border-box;

        .img-wrapper {
            padding: 30px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 9px;
            background-color: var(--off-white);
        }

        .work-img {
            width: 100%;
            height: 100%;
            background-color: var(--light-off-teal);
            border-radius: 6px;
        }

    }

    .rounder {
        position: absolute;
        bottom: -9px;
        right: 0px;
        display: flex;
        width: 100%;
        height: 9px;
        align-items: start;
        justify-content: space-between;
        gap: 0px;
        border-top: 1.5px solid var(--off-teal);
        box-sizing: border-box;

        svg {
            width: 9px;
            height: 9px;
        }
    }
}

#WORK > .middle > .right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .heading {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 30px;
        box-sizing: border-box;
        background-color: var(--dark-green);
        border-radius: 9px;
        gap: 6px;
        font-size: 18px;
        font-weight: 600;
        color: var(--off-white);
        margin: 0;
        span {
            font-weight: 400;
            color: var(--off-teal);
        }

    }
    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 30px;
        box-sizing: border-box;
        background-color: var(--light-off-teal);
        border-radius: 9px;
        gap: 3px;
        transition: all 0.3s ease-in-out;

        .title {
            display: flex;
            align-items: center;
            gap: 0px;
            h3 {
                margin: 0;
                padding: 0 14px 0 0;
                font-weight: 700;
                font-size: 24px;
                color: var(--off-black);
            }
        }
        .description {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 15px;
            color: var(--off-black-06);
            p {
                margin: 0;
                padding: 0;
            }
        }

    }
    .project:hover, .project--active {

        background-color: var(--off-white);
    }

}
