header {
    display: flex;
    justify-content: center;
    gap: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

.extremes-wrapper-left {
    min-width: 9px;
    padding: 0 1px 1px 0;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

.extremes-wrapper-right {
    min-width: 9px;
    padding: 0 0 1px 1px;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

.extremes {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: var(--light-off-teal);
}

section > .extremes-wrapper-left {
    min-width: 9px;
    padding: 0 1px 0 0;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

section > .extremes-wrapper-right {
    min-width: 9px;
    padding: 0 0 0 1px;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

header > .middle {
    display: flex;
    justify-content: center;
    gap: 1px;
    width: 100%;
    height: 100%;
}

header > .middle > .left {
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: 636px;
    max-width: 636px;

    .cell-wrapper {
        display: flex;
        justify-content: center;
        padding: 0 0 1px 0;
        min-width: 30px;
        max-width: 30px;
        height: 100%;
        box-sizing: border-box;
        .cell {
            background-color: var(--off-white);
            width: 100%;
            height: 100%;
            border-radius: 9px;
        }
    }
    .green-rectangle {
        background-color: #006352;
        width: 100%;
        height: 100%;
    }
    .links {
        display: flex;
        justify-content: center;
        gap: 1px;
        background-color: var(--off-teal);
        width: 231px;
        box-sizing: border-box;
        padding: 0 0 1px 0;
        a {
            text-decoration: none;
            background-color: var(--light-off-teal);
            color: var(--off-black-06);
            border-radius: 9px;
            width: 150px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            font-size: 13px;
            transition: all 0.15s ease-in-out;
        }
        a.active {
            background-color: var(--off-white);
            color: var(--off-black);
            cursor: url('/Cursor.svg'), auto;
        }
        a:hover {
            background-color: var(--off-white);
            color: var(--off-black);
            cursor: url('/Cursor.svg'), auto;
        }
    }
}

header > .middle > .right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1px;
    padding: 0 0 1px 0;
    box-sizing: border-box;
    div {
        background-color: var(--light-off-teal);
        color: var(--off-black-06);
        border-radius: 9px;
        min-width: 120px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 13px;
        font-weight: 400;
        transition: all 0.15s ease-in-out;
    }
    div.active {
        background-color: var(--off-white);
        color: var(--off-black);
        font-weight: 600;
    }
    div:hover {
        background-color: var(--off-white);
        color: var(--off-black);

        font-weight: 600;
    }
    .cell {
        background-color: var(--off-white);
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }
}

section {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 0 0 1px 0;
    box-sizing: border-box;
    width: 100%;
    align-self: stretch;
}

section > .middle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
}

#WORK > .middle > .left {
    background-color: var(--off-white);
    border-radius: 9px;
    padding: 30px;
    box-sizing: border-box;
    min-width: 636px;
    max-width: 636px;
    flex: 0 0 636px;
    align-self: stretch;

    img {
        position: sticky;
        top: 30px;
        width: 576px;
        height: 432px;
        background-color: var(--dark-green);
        border-radius: 6px;
    }
}

#WORK > .middle > .right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .heading {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 30px;
        box-sizing: border-box;
        background-color: var(--dark-green);
        border-radius: 9px;
        gap: 9px;
        h2 {
            font-size: 18px;
            font-weight: 600;
            color: var(--off-white);
            margin: 0;
        }
        svg {
            color: var(--off-white);
        }

    }
    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 30px;
        box-sizing: border-box;
        background-color: var(--light-off-teal);
        border-radius: 9px;
        gap: 3px;
        transition: all 0.3s ease-in-out;

        .title {
            display: flex;
            align-items: center;
            gap: 0px;
            h3 {
                margin: 0;
                padding: 0;
                font-weight: 700;
                font-size: 24px;
                color: var(--off-black);
            }
        }
        .description {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 15px;
            color: var(--off-black-06);
            p {
                margin: 0;
                padding: 0;
            }
        }

    }
    .project:hover, .project--active {

        background-color: var(--off-white);
    }

}

footer {
    display: flex;
    justify-content: center;
    gap: 0;
    box-sizing: border-box;
    width: 100%;
    height: 140px;
}

footer > .middle {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 0px;
}

footer > .middle > .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-green);
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    height: 100%;
    border-radius: 9px 0px 0px 9px;

    h3 {
        font-size: 18px;
        color: var(--off-white);
        font-weight: 400;
        text-wrap: wrap;
        margin: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: max-content;
        align-items: end;
        h3 {
            font-size: 15px;
            line-height: 160%;
        }
        span {
            font-weight: 400;
            color: var(--off-teal);
        }
    }
    .right-links {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 6px;
    }
    .work {
        color: var(--off-teal);
        border-radius: 9px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 15px;
        transition: all 0.15s ease-in-out;
        margin: 0;
        svg {
            color: var(--off-teal);
            width: 18px;
            rotate: 180deg;
        }
    }
    .work:hover {
        color: var(--off-white);

        svg {
            color: var(--off-white);
        }
    }
    a {
        text-decoration: none;
        color: var(--off-teal);
        font-size: 15px;
        font-weight: 400;
        transition: all 0.15s ease-in-out;
    }
    a:hover {
        color: var(--off-white);
        cursor: url('/Cursor.svg'), auto;
    }
}

footer > .middle > .left {
    min-width: 636px;
    max-width: 636px;
    height: 100%;
    position: relative;
    border-radius: 0px 9px 9px 0px;
    overflow: hidden;
    img {
        position: absolute;
        height: 140px;
    }
}

@media screen and (min-width: 1700px) {
    section > .middle, header > .middle, footer > .middle {
        max-width: 1600px;
    }
    .extremes-wrapper-left, .extremes-wrapper-right {
        width: 100%;
    }
}
